.student-screen {
  background-color: white;
  border-radius: 16px;
  position: absolute;
  width: 94vw;
  height: 94vh;
  top: 50%;
  left: 50%;
  margin-top: -47vh;
  margin-left: -47vw;
}

#search-mode {
  font-size: 18px;
  /* margin: 10px 0 0 10px; */
  /* margin-bottom: 1px; */
  display: inline;
}

#search {
  display: inline-block;
  padding-left: 40px;
}

.specialization-list .react-select__control {
  background-color: #efefef;
  border-radius: 8px;
  width: 25vw;
}

.specialization-list .react-select__menu {
  width: 25vw;
}

#age-select {
  display: inline-block;
  margin-left: 50px;
}

#age-select * {
  display: inline;
}

#age-select p:first-child {
  display: block;
}

#age-select input {
  height: 30px;
  width: 40px;
  margin-left: 8px;
}

#age-select :nth-child(4) {
  margin-left: 5px;
}

/* .button {
  background: #ff4b2b; 
  border: none;
  border-radius: 22px; 
  color: whitesmoke;
  cursor: pointer;
  font-size: 15px;
  padding: 0.6em;
  margin-left: 20px;
} */

#search-result {
  padding-left: 40px;
  padding-top: 15px;
  max-height: 75vh;
  overflow-x: auto;
}

.button {
  background: #ff4b2b;
  border: none;
  border-radius: 22px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 15px;
  padding: 0.6em;
}

.search-button {
  margin-left: 20px;
}

#exit-button {
  background-color: rgb(70, 113, 240);
  padding: 0.4em;
  box-sizing: border-box;
}

#exit-button * {
  vertical-align: middle;
}

img {
  margin-left: 5px;
  width: 20px;
}

#user-panel #user-icon {
  width: 30px;
  vertical-align: middle;
}

#username {
  color: #137ee8;
  font-size: 18px;
  margin-top: 6px;
  vertical-align: top;
}

#user-panel {
  float: right;
  margin-top: 3px;
  margin-right: 3px;
}

#user-panel * {
  display: inline-block;
}

#search-mode > input[type="radio"] {
  display: none;
}

#search-mode label {
  display: flex;
  position: absolute;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 6px;
  border: none;
  align-items: center;
  height: 35px;
  width: 12px;
  z-index: 2;
  left: 40px;
}

#search-mode > label:nth-child(4) {
  position: absolute;
  left: 130px;
}

#search-role-layer {
  display: flex;
  position: absolute;
  border: 1px solid #999;
  background: #ffe0a6;
  border-radius: 6px;
  border: none;
  height: 35px;
  width: 100px;
  transition: 0.5s ease all;
  z-index: 1;
  left: 17px;
}

#search-mode #fav-mode:checked ~ #search-role-layer {
  transform: translateX(100px);
  width: 117px;
}

#search-mode #all-mode:checked ~ #search-role-layer {
  transform: translateX(-calc(100% - 2 * var(--sign-form-padding)));
  width: 100px;
}

#search,
#age-select,
#specialization-list #search-button {
  margin-top: 40px;
}
