.tutor-screen {
  background-color: white;
  border-radius: 16px;
  position: absolute;
  width: 94vw;
  height: 94vh;
  top: 50%;
  left: 50%;
  margin-top: -47vh;
  margin-left: -47vw;
}

#tutor-form,
#tutor-resume,
.no_resume {
  display: inline-block;
  position: relative;
  padding: 40px;
  width: 40vw;
}

.form-label {
  display: block;
  font-size: 15px;
}

.form-input,
.resume-input,
.review-input,
.specialization-list .react-select__control {
  background-color: #efefef;
  border: none;
  width: 40vw;
  height: 35px;
  border-radius: 8px;
  margin-bottom: 0.8em;
  box-sizing: border-box;
  padding: 0 9px;
}

.resume-input {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  min-height: 39.2px;
  word-wrap: break-word;
}

.review-input {
  display: block;
  width: 34vw;
  height: 100px;
  resize: none;
  font-size: 16px;
  padding-top: 5px;
}

.form-input {
  display: block;
}

.button {
  background: #ff4b2b; /* цвет кнопки */
  border: none;
  border-radius: 22px; /* скругление кнопки */
  color: whitesmoke; /* цвет текста кнопки */
  cursor: pointer;
  font-size: 15px;
  padding: 0.6em;
}

.favorite-button {
  margin-bottom: 10px;
  background-color: #ffb6c1;
  color: #000;
  font-size: 16px;
}

.favorite-button * {
  display: inline;
  vertical-align: middle;
}

.favorite-button p {
  margin-left: 5px;
}

#exit-button {
  background-color: rgb(70, 113, 240);
  padding: 0.4em;
  box-sizing: border-box;
}

#exit-button * {
  vertical-align: middle;
}

img {
  margin-left: 5px;
  width: 20px;
}

#user-icon {
  width: 30px;
  vertical-align: middle;
}

#username {
  color: #137ee8;
  font-size: 18px;
  margin-top: 6px;
  vertical-align: top;
}

#user-panel {
  float: right;
  margin-top: 3px;
  margin-right: 3px;
}

#user-panel * {
  display: inline-block;
}

.specialization-list .react-select__menu {
  width: 40vw;
}

#right-col {
  display: inline-block;
  vertical-align: top;
  padding: 40px 0 0 50px;
}

#right-col .comment-head:not(:first-child) {
  margin-top: 10px;
}

#right-col > p:first-child {
  margin-bottom: 10px;
}

#review-greeting {
  margin-top: 9px;
}

#right-col textarea {
  margin-top: 8px;
}

#right-col button:last-child {
  float: right;
}

.no_resume {
  position: relative;
  display: inline-block;
  /* margin-left: 25%; */
  /* box-sizing: border-box; */
  font-size: 21px;
  width: 40vw;
  text-align: center;
  padding-bottom: 8px;
}

#no_resume_but {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.fineDiv {
  display: inline-block;
}
