#user-icon {
  width: 50px;
  display: inline-block;
  vertical-align: top;
}

#tutor-info {
  display: inline-block;
  max-width: 800px;
  vertical-align: middle;
  padding-left: 8px;
}

#tutor-info a {
  font-size: 20px;
  text-decoration: none;
}

#tutor-card:not(:first-child) {
  margin-top: 10px;
}
